Repository scverse/squidpy, pull requests merged in 2025-03, with the labels that each got.

#973 Added Artifact action to CI/CD so we can download test images from runnders
  .github/workflows/test.yml
Labels: release-added

#831 Add function for calculating niches
  .github/workflows/test.yml
  .pre-commit-config.yaml
  src/squidpy/_constants/_constants.py
  src/squidpy/gr/__init__.py
  src/squidpy/gr/_niche.py
  src/squidpy/gr/_ppatterns.py
  src/squidpy/gr/_sepal.py
  src/squidpy/pl/_utils.py
  tests/conftest.py
  tests/graph/test_niche.py
Labels: graph :spider_web:, squidpy2.0, release-added

#981 Updating CI/CD
  .github/release.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .readthedocs.yml
  docs/_static/css/custom.css
  docs/_static/css/dataframe.css
  docs/_static/css/nbsphinx.css
  docs/_static/css/sphinx_gallery.css
  docs/_templates/breadcrumbs.html
  src/squidpy/datasets/__init__.py
  src/squidpy/datasets/_dataset.py
  src/squidpy/datasets/_dataset.pyi
  src/squidpy/datasets/_image.py
  src/squidpy/datasets/_image.pyi
  src/squidpy/datasets/_utils.py
  src/squidpy/im/__init__.py
  src/squidpy/im/_process.py
  src/squidpy/im/_segment.py
  src/squidpy/pl/_interactive/_controller.py
  src/squidpy/pl/_interactive/_model.py
  src/squidpy/pl/_interactive/interactive.py
  tests/plotting/test_spatial_static.py
  tox.ini
Labels: enhancement :sparkles:, maint :building_construction:, release-changed
